@use "reset";
@use "colors";
@use "fonts";

@use "navigation";
@use "gridcontainer";

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.wrapper {
    max-width: 75vw;
}

img {
    max-width: 100%;
}